<?php

return [
    // Path to Source Han Sans repository. Only version 1.004 is supported.
    'shs_dir' => 'C:\\fonts\\source-han-sans-master',
    // Path to AFDKO binary files.
    'afdko_bin_dir' => 'C:\\fonts\\AFDKO\\Tools\\win',
    // Path to pyftsubset executable.
    'pyftsubset_bin' => 'pyftsubset',
    // Path to output the built fonts and other files.
    'build_dir' => 'C:\\fonts\\build',
    // Path to Fontforge executable. Optional.
    'fontforge_bin' => 'C:\\fonts\\fontforge\\run_fontforge.exe',
    // Path to 7-zip, only needed for release:package command
    '7zip_bin' => 'C:\\Program Files\\7-Zip\\7z.exe',
    // Path to otfcc (https://github.com/caryll/otfcc). Required to build TTF fonts.
    'otfccdump_bin' => 'C:\\otfcc\\otfccdump.exe',
    'otfccbuild_bin' => 'C:\\otfcc\\otfccbuild.exe',
    // Path to otfcc_c2q (https://github.com/caryll/otfcc-cubic2quad). Required to build TTF fonts.
    'otfccc2q_bin' => 'otfcc-c2q',

    // DON'T CHANGE THE LINES BELOW UNLESS YOU KNOW WHAT YOU ARE DOING.
    'version' => file_get_contents(__DIR__ . '/../../VERSION'),
    'weights' => ['Light', 'Regular', 'Bold'],
    'data_dir' => realpath(__DIR__ . '/../data'),
    'workspace_dir' => realpath(__DIR__ . '/../../workspace'),
    'db' => realpath(__DIR__ . '/../data/database.sqlite3'),
];
